@import url('https://fonts.googleapis.com/css2?family-Chakra+Petch:w ght@400:700&display=swap'); 

:root {
    --cor-de-fundo:#1E1E1E;
    --verde:#6FFF57;
    --branco:#FFFFFF;
    --botão-ativo:#3A375E;
    --botão-inativo:rgba(58, 55, 94, 0.5);
    --texto-de-fundo:rgba(58, 55, 94, 0.3);
    color: var(--branco)



}









}